#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-marker {
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.token-value {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
